
.SystemUserHomeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 5%;
  
  .OrganizationsContainer {
    width: 100%;
    display: grid;
    margin-top: 1.5%;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    grid-template-rows: repeat(auto-fill, 160px);
    grid-gap: 5%;
    height: 100%;
  }

  .OrganizationSearch{
    width: 40%;
  }
}


