$height: calc(100vh - 56px);
.SystemUserHomeBody {
  height: $height;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;

  .CreateOrganizationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }

  .AllOrganizationsContainer {
    height: 80%;
    width: 80%;
  }
}
